/* Esse é o CSS global*/

/*para o descer automático da pág ficar suave*/
html{
    scroll-behavior: smooth;
}

/*tamanho de fonte personalizado*/
.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

/*cores*/
.corRosa{
    color: #F2D8D5;
}
